
@media screen and (max-width: 992px) {
    .MuiTypography-root>div>div>p>img{
        width: 100%;
     }
  }
@media screen and (max-width: 600px) {
    .MuiTypography-root>div>div>p>img{
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .MuiTypography-root>div>div>p>img{
        width: 100%;
    }
 }